.aside {
  display: block;
  background-image: linear-gradient(180deg, #1c1859, #3a0647);
  width: 20%;
  height: 87.7%;
  float: left;
}

.aside__menu {
  list-style: none;
  color: #f0f4f5; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
}

.aside__menu li {
  background-color: rgb(204, 204, 204, 0);
  width: 80%;
  padding: 16px 12px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  text-align: center;
  align-items: center;
  margin-top: 20px;
  border-radius: 5px;
}

.aside__menu li span {
  text-align: left;
}

.aside__menu li:hover {
  background-color: rgb(204, 204, 204, 0.3);
  cursor: pointer;
}